.all-groups {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  padding-top: 45px;

  .all-groups__search {
    width: 600px;
    background: white;
  }

  .all-groups-list {
    display: flex;
    flex-direction: column;
    gap: 15px;

  }
}