.form {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 15px;
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  width: 330px;
  margin: auto;
  padding: 35px;
  border-radius: 10px;
  background: white;

  h2 {
    display: flex;
    align-items: center;
  }

  .input__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;

    .input__error {
      margin-top: 5px;
      text-align: center;
      color: red;
      font-size: 12px;
      font-weight: bold;
    }
  }


  .btn_registration {
    margin-top: auto;
    width: 80%;
    height: 50px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.16);
    background: #1B2E28;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.10) 0px 5px 15px;
    padding: 0 15px;
    color: #DAC597;

    &:hover {
      cursor: pointer;
      background-color: #294b3e;
    }
  }

  .login {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  .submit__error {
    text-align: center;
    color: red;
    font-size: 12px;
    font-weight: bold;
  }
}