.members-table {
  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    letter-spacing: 0px;
    border-radius: 10px;
  }

  th {
    background: rgba(0, 0, 0, 0.05);
  }

  th, td {
    border-bottom: 1px solid rgba(81, 81, 81, 0.2);
    text-align: center;
    letter-spacing: 0px;
    color: #515151;
    padding: 7px;


    .winner {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 5px;
      //padding-left: 10px;
    }

    .winner-place {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      font-size: 10px;
    }


  }

  .table-member-row {
    &:hover {
      cursor: pointer;
    }

    .table-item__member {
     div {
       display: flex;
       justify-content: flex-start;
       align-items: center;
       gap: 5px;
     }


      .member-avatar {
        border-radius: 50%;
      }
    }
  }


}
